@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
    background-image: url("images/back1.jpg");
}

.text-box {
    float: left;
}

textarea {
    resize: none;
}


.container {
    float: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 5rem;
    margin-top: 0.8rem;
    padding: 6px;
    padding-bottom: 0px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid rgb(178, 164, 209);
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(179, 180, 196, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 2px solid rgba(202, 196, 196, 0.18);
}


.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin-right: 0.2rem;
    margin-left: 1rem;
}

.navbar-brand {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 27px;
    font-weight: 400;
}

/* .nav-link:hover {
    color: aqua;

} */

.btn {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#calculate {
    border: none;
    margin-top: 0%;
    background-color: none;
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);

}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;

}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;

}

.swal-button {
    background-color: #007bff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 7px 18px;  
    border-radius: 2px; 
    font-size: 18px;

}
 
.logo{
    width: 80px;
    cursor: pointer;
    
}


  .nav-link::after {
    content: '';
    height: 4px;
    width: 0%;
    border-radius: 20%;
    background: #0753c5;
    display: block;
    margin: auto;
    transition: 0.2s;
  }
  
   
  .nav-link:hover::after {
    
    width: 100%;
  }
  
  .nav-link.active:hover {
    background-color: #0753c5;
  }
  .nav-link a.active { background-color: red; }